body{
    background: linear-gradient(to left,#a0bab5,#712dc5);
}
h1
{
    text-align: center;
    color:rgb(11, 77, 12);
    margin-top: 1rem;
}
.one,.two,.three
{
    text-align: center;
}
.one,.three{
    margin-top: 2rem;
}
.one textarea{
    padding: 1rem;
}
.three textarea{
    padding: 1rem;
}
.two{
    margin-top: 1.5rem;
}
